#app {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-size: 16pt;
}
h1 {
  margin: 3rem;
  text-align: center;
}

#playerBoard,
#cpuBoard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  margin: 50px;
}

#playerBoard div,
#cpuBoard div {
  border: 1px solid #000;
  background-color: wheat;
  text-align: center;
}

button {
  height: 70px;
  width: 100px;
  font-size: 10pt;
  font-weight: bold;
  background-color: black;
  color: wheat;
  margin-left: 30px;
  border-radius: 10%;
}

.hit {
  background-color: red;
}
.miss {
  background-color: blue;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.cpuContainer {
  margin: 3rem;
  border: #000 solid 1px;
  display: flex;
  width: 50rem;
}

.playerContainer {
  margin: 3rem;
  border: #000 solid 1px;
  display: flex;
  width: 50rem;
}
.cpuContainer {
  margin-left: 50em;
  margin-top: -32em;
}
#startGameButton {
  position: absolute;
  margin-top: 40em;
  margin-left: -2em;
}
